/*Product conunter style of cart icon*/
.cart-count {
    position: relative;
    font-size: 8px;
    background: #e63e32;
    top: -9px;
}

/*Cart page*/
.table-responsive {
    box-shadow: 0 0 8px rgba(5, 5, 5, .3);
}

.cartAlert {
    font-size: 22px;
    box-shadow: 0 4px 8px rgba(5, 5, 5, .3);
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    background: #fe980f;
    color: #fff;
    position: relative;
    font-size: 18px;
    top: -15px;
}

.cartSpecialText {
    color: #e43326;
}

#placeOrdersContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px 15px 0
}

#placeOrderBtn {
    background: #fe980f;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .2s;

}

#placeOrderBtn:hover {
    background: #e43225;
    transition: all .2s;
}

/*--Search*/
#inp:focus {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #f8a842;
}

#autoCompleteCenter {
    width: 100%;
    display: flex;
    justify-content: center;
}

#autoComplete {
    position: absolute;
    z-index: 100;
    width: 100%;
    min-height: 10px;
    border: 2px solid #f8a842;
    border-top: 0;
    margin-top: 36px;
    background: #f8a842;
    color: #fff;
    box-shadow: 0 2px 8px rgb(119, 116, 116);
    padding: 5px;
}

#productLister {
    border-bottom: 1px solid;
    color: #fff;
    padding: 10px;
    transition: all .2s ease-in-out;
}

#productLister:hover {
    color: #e5382c;
    font-weight: bold;
    transition: all .2s ease-in-out;
    padding-left: 15px;

}

/*Owl Slider Style*/
.sekil {
    max-height: 225px;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 32%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.owl-carousel .owl-nav .owl-prev {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
}

.owl-carousel .owl-nav .owl-next {
    float: right;
    margin: 0 !important;
    padding: 0 !important;
}

.owl-carousel .owl-nav span {
    color: #f39313 !important;
    font-size: 40px;
    font-weight: bold;
    background: rgba(0, 0, 0, .7);
    border-radius: 50px;
    padding: 3px 20px;
}

.owl-carousel .owl-nav span:hover {
    background: rgba(0, 0, 0, 1) !important;
}

.owl-carousel .owl-nav button {
    background: none !important;
    outline: none !important;
}

.owl-carousel .owl-dots {
    position: relative;
    margin: auto !important;
    min-width: 100% !important;
    margin-top: 10px !important;
}

.owl-carousel .owl-dot.active span {
    background: #f39313 !important;
}

.owl-carousel .owl-dot:hover span {
    background: #f39313 !important;
}

.owl-carousel .owl-dot {
    outline: none;
}

/*Contact Us Info*/
.contactInfoTxt {
    font-weight: bold;
}

/*Rating Stars*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate input {
    visibility: hidden
}

#verticalSeparator {
    font-size: 20px;
    color: #f39313;
}

#totalReviews {
    color: #40403e;
    margin: 0 15px 0 10px;
}

/*Reviews Form*/
#reviewForm input, #reviewForm textarea {
    color: #40403e !important;
    font-weight: 500;
    border: 1px solid transparent !important;
    transition: all .4s;
}

#reviewForm input:hover, #reviewForm textarea:hover {
    border: 1px solid #f39313 !important;
    transition: all .4s;
}

#reviewForm input:focus, #reviewForm textarea:focus {
    border: 1px solid #f39313 !important;
}
/*Sweet Alert*/
.swal2-popup {
    font-size: 1.6rem !important;
}

/*Checkout page forms*/
.order-messageForm{
    border: 2px solid transparent!important;
    transition: all .3s;
}

.order-message textarea:hover, .order-message textarea:focus, .form-one input:hover, .form-one input:focus, .form-two input:hover, .form-two input:focus, .form-two select:hover, .form-two select:focus {
    border: 2px solid #f39313 !important;
    transition: all .3s;
    outline: none;
}


.payment-options #checkoutBtn {
    background: #f39313;
    font-weight: bold;
    color: #fff;
    border: 3px solid transparent;
    transition: all .3s;
}

.payment-options #checkoutBtn:hover {
    color: #f39313;
    font-weight: bold;
    background: transparent;
    border: 3px solid #f39313;
    transition: all .3s;
}
