/*Product conunter style of cart icon*/
.cart-count {
    position: relative;
    font-size: 8px;
    background: #e63e32;
    top: -9px;
}

/*Cart page*/
.table-responsive {
    box-shadow: 0 0 8px rgba(5, 5, 5, .3);
}

.cartAlert {
    font-size: 22px;
    box-shadow: 0 4px 8px rgba(5, 5, 5, .3);
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    background: #fe980f;
    color: #fff;
    position: relative;
    font-size: 18px;
    top: -15px;
}

.cartSpecialText {
    color: #e43326;
}

/*--Search*/
#inp:focus {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #f8a842;
}

#autoComplete {
    width: 100%;
    min-height: 10px;
    border: 2px solid #f8a842;
    border-top: 0;
    margin-top: 2px;
    background: #f8a842;
    color: #fff;
    box-shadow: 0 2px 8px rgb(119, 116, 116);
    padding: 5px;
}

#productLister {
    border-bottom: 1px solid;
    color: #fff;
    padding: 10px;
    transition: all .2s ease-in-out;
}

#productLister:hover {
    color: #e5382c;
    font-weight: bold;
    transition: all .2s ease-in-out;
    padding-left: 15px;

}

.tst {
    border: 3px solid red;
}
w